body {margin:0;
  height: 100%;
}


.main {
  padding: 16px;
  margin-top: 70px;
  height: 800px;
  box-shadow: 2px 2px 5px #333;
  margin-right: 100px;
  margin-left: 100px;
}



table.vehlist {
  border-collapse: collapse;
  width: 100%;
}


table.vehlist th {
  background-color: #5a5a5a;
  color: white;
}

.bg-image{
  background-image: url('bgimg.jpg');
  height: 94.2vh
}