{% extends 'base.html' %}

{% block title %}Listă Inbox{% endblock %}

{% block content %}
	<script type="text/javascript">
		const timeout = setTimeout(alertFunc,5*60*1000);

		function alertFunc(){
			location.href = "{% url 'inbox' %}"
		}
	</script>
	<h1 style="background-color: rgb(232, 232, 232); text-align: center;">Listă Inbox</h1>
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
	    	Mesaj Nou
	  	</button>
	  	<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
	  		{% for u in lista %}
	  		{% if u.is_superuser %}
	    	<li><a class="dropdown-item" href="{% url 'direct-msg' u.username %}" style="color:red">{{ u.username }} - Administrator</a></li>
	    	{% else %}
	    	<li><a class="dropdown-item" href="{% url 'direct-msg' u.username %}">{{ u.username }}</a></li>
	    	{% endif %}
	    	{% endfor %}
	  	</ul>
	</div>
	<br>
	{% for utilizator, valoare in utilizatori.items %}
	{%  if valoare == True %}
		<a href="{% url 'direct-msg' utilizator %}" class='btn btn-secondary'>{{ utilizator }}</a>
	{% else %}
		<a href="{% url 'direct-msg' utilizator %}" class='btn btn-danger'>{{ utilizator }}</a>
	{% endif %}
	{% endfor %}
{% endblock %}