{% extends 'base.html' %}


{% block title %}Adaugă Vehicul{% endblock %}
{% block content %}
	<h1 style="background-color: rgb(232, 232, 232); text-align: center;">Adaugă un vehicul</h1>
	<div style="float: right; border-style: inset;"> Listă Utilizatori:
		<ul>{% for user in user_list %}
			<li>{{ user.username }}</li>
			{% endfor %}
		</ul>
	</div>

	<div style="float: right; border-style: inset;"> Listă Categorii:
		<ul>{% for category in category_list %}
			<li>{{ category.category_name }}</li>
			{% endfor %}
		</ul>
	</div>
	<form method = "POST"> {% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Salvează">
	</form>
{% endblock %}