{% extends 'base.html' %}

{% block title %}{{ vehicle.vehicle_plate }}{% endblock %}
{% block content %}
	<h1 style="background-color: rgb(232, 232, 232); text-align: center;">{{ vehicle.vehicle_plate }}</h1>
	<div class="position-absolute start-50 translate-middle" style="top: 15.3%">
	<table class="table table-striped table-hover vehlist">
		<tr class="table-dark">
			<th>Număr Înmatriculare</th>
			<th>Șofer</th>
			<th>Categorie</th>
			<th>KM</th>
			<th>ITP</th>
			<th>RCA</th>
			<th>KM ultima revizie</th>
		</tr>
		<tr>
			<td>{{ vehicle.vehicle_plate }}</td>
			<td>{{ vehicle.vehicle_driver }}</td>
			<td>{{ vehicle.vehicle_category }}</td>
			<td>{{ vehicle.vehicle_odometer }}</td>
			<td>{{ vehicle.vehicle_itp }}</td>
			<td>{{ vehicle.vehicle_rca }}</td>
			<td>{{ vehicle.vehicle_last_service }}</td>
		</tr>
	</table>
	</div>
	{% if user.is_superuser %}
	<a class='btn btn-secondary' href="{{ vehicle.get_absolute_url }}delete">Șterge Vehicul</a>
	<a class='btn btn-secondary' href="{{ vehicle.get_absolute_url }}update">Modifică Vehicul</a>
	{% endif %}
{% endblock %}