{% extends 'base.html' %}

{% block title %}{{ vehicle.vehicle_plate }}{% endblock %}

<!-- vehicle_plate = models.CharField(max_length = 10, unique = True, verbose_name = "Număr înmatriculare")
	vehicle_odometer = models.PositiveIntegerField(verbose_name = "Kilometraj")
	vehicle_itp = models.DateField(verbose_name = "ITP expiră la")
	vehicle_rca = models.DateField(verbose_name = "RCA expiră la")
	vehicle_last_service = models.PositiveIntegerField(verbose_name = "Ultimul service efectuat KM")
	vehicle_driver = models.ForeignKey(settings.AUTH_USER_MODEL, on_delete=models.SET_NULL, null = True, verbose_name = "Șoferul", blank = True)
	vehicle_category = models.ForeignKey(Category, on_delete=models.SET_NULL, null = True, verbose_name = "Categoria", blank = True) -->

{% block content %}
	<h1 style="background-color: rgb(232, 232, 232); text-align: center;">{{ vehicle.vehicle_plate }}</h1>
	<div style="position: absolute; left: 32%">
	<table class="vehlist"style="widht: 30%">
		<tr>
			<th>Număr Înmatriculare</th>
			<th>Șofer</th>
			<th>Categorie</th>
			<th>KM</th>
			<th>ITP</th>
			<th>RCA</th>
			<th>KM ultima revizie</th>
		</tr>
		<tr>
			<td>{{ vehicle.vehicle_plate }}</td>
			<td>{{ vehicle.vehicle_driver }}</td>
			<td>{{ vehicle.vehicle_category }}</td>
			<td>{{ vehicle.vehicle_odometer }}</td>
			<td>{{ vehicle.vehicle_itp }}</td>
			<td>{{ vehicle.vehicle_rca }}</td>
			<td>{{ vehicle.vehicle_last_service }}</td>
		</tr>
	</table>
	</div>
	{% if user.is_superuser %}
	<a class='btn btn-secondary' href="{{ vehicle.get_absolute_url }}delete">Șterge Vehicul</a>
	<a class='btn btn-secondary' href="{{ vehicle.get_absolute_url }}update">Modifică Vehicul</a>
	{% endif %}
{% endblock %}